# fly.toml app configuration file generated for brillioxe1 on 2025-12-05T10:30:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'brillioxe1'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
